@import "../constants";

.nav-links{
  margin-left: 265.3px;
  margin-top: 26px;
  color: $dark50;
  width: 446px;
}

.nav-links a{
  margin-left: 20px;
  color: $dark50;
  text-decoration: none;
}

.nav-links p{
  margin: 0;
}

.nav-links button{
  font-family: Montserrat;
  margin-left: 20px;
  background-color: transparent;
  border: transparent;
  color: $dark50;
}