html(lang="ru")
    head
        link(rel=stylesheet href="styles/styles.css")
        meta(charset="utf-8")
    body
        nav
            div(class="logo")
                img(src="images/logo.svg" alt="Logo" class="logo__image")
                img(src="images/TOXIN.svg" alt="TOXIN" class="logo__company-name")
            div(class="nav-links")
                a О нас
                button
                    p Услуги
                a Вакансии
                a Новости
                button
                    p Соглашения
