html(lang="ru")
    head
        link(rel=stylesheet href="styles/styles.css")
        meta(charset="utf-8")
    body
        nav
            div(class="logo")
                img(src="images/logo.svg" alt="Logo" class="logo__image")
                img(src="images/TOXIN.svg" alt="TOXIN" class="logo__company-name")
            div(class="nav-links")
                a(href="#no_scroll") О нас
                a(href="#no_scroll") Услуги
                a(href="#no_scroll") Вакансии
                a(href="#no_scroll") Новости
                a(href="#no_scroll") Соглашения
            div(class="sign-in-button")
                a(href="sign_in.html") Войти
            div(class="sign-up-button")
                a(href="sign_up.html") Зарегистрироваться

